<a href="https://colab.research.google.com/github/eyu10/SQL-Project/blob/main/Web_Scrape_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [49]:
url = "https://www.statmuse.com/nba/ask/nba-player-stats-home-away-split-this-season"

In [50]:
#Set a headers dictionary to pass to the web page request to prevent 4XX status code permission errors
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

#Make a web page GET request with the defined web page URL and the dictionary of headers
response = requests.get(url, headers=headers)

In [51]:
#Confirm the GET request received a 200 HTTP status code (1 point)
if response.status_code == 200:
    print("Success: The GET request received a 200 HTTP status code.")
else:
    print(f"Failed: The GET request received a {response.status_code} status code.")

Success: The GET request received a 200 HTTP status code.

In [ ]:
#View the text in the GET request result
print("Web Page Content:", response.text)

In [53]:
#Create an object of the BeautifulSoup class to parse the web page text with the html.parser parser option
soup = BeautifulSoup(response.text, 'html.parser')

In [55]:
# Locate the table containing the player stats
table = soup.find("table")  # Check for the correct table identifier

# If the table is found, extract the data
if table:
    # Extract the column headers for the table
    headers = [th.text for th in table.find_all("th")]

    # Extract the rows from the table body
    rows = table.find("tbody").find_all("tr")

    # Collect data from each row
    player_data = []
    for row in rows:
        row_data = [td.text for td in row.find_all("td")]
        if row_data:  # Ensure row is not empty
            player_data.append(row_data)

    # Create a DataFrame with the extracted data
    df = pd.DataFrame(player_data, columns=headers)

    # Display the DataFrame's information and preview
    print(df.info())
    print(df.head())

    # Export to CSV to save the data
    df.to_csv("nba_player_home_away_stats.csv", index=False)
else:
    print("Table not found. Ensure you're looking in the right section.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0            25 non-null     object
 1   NAME     25 non-null     object
 2   LOC      25 non-null     object
 3   SEASON   25 non-null     object
 4   TM       25 non-null     object
 5   GP       25 non-null     object
 6   MPG      25 non-null     object
 7   PPG      25 non-null     object
 8   RPG      25 non-null     object
 9   APG      25 non-null     object
 10  SPG      25 non-null     object
 11  BPG      25 non-null     object
 12  TPG      25 non-null     object
 13  FGM      25 non-null     object
 14  FGA      25 non-null     object
 15  FG%      25 non-null     object
 16  3PM      25 non-null     object
 17  3PA      25 non-null     object
 18  3P%      25 non-null     object
 19  FTM      25 non-null     object
 20  FTA      25 non-null     object
 21  FT%      25 non-null     object
 22  MIN      25 non-null     object
 23  PTS      25 non-null     object
 24  REB      25 non-null     object
 25  AST      25 non-null     object
 26  STL      25 non-null     object
 27  BLK      25 non-null     object
 28  TOV      25 non-null     object
 29  PF       25 non-null     object
 30  +/-      25 non-null     object
dtypes: object(31)
memory usage: 6.2+ KB
None
                         NAME     LOC     SEASON       TM    GP     MPG   \
0      Giannis Antetokounmpo    Home    2023-24     MIL     38    34.1
1      Giannis Antetokounmpo    Away    2023-24     MIL     35    36.3
2            Harrison Barnes    Home    2023-24     SAC     41    29.2
3            Harrison Barnes    Away    2023-24     SAC     41    28.8
4              Nicolas Batum    Home    2023-24      TOT    30    25.0

     PPG     RPG    APG   ...     FT%      MIN      PTS    REB    AST   STL   \
0  28.2    11.7    6.3    ...   65.0    1,295    1,071    446    239    42
1  32.9    11.3    6.8    ...   66.4    1,272    1,151    395    237    45
2  12.0     3.3    1.4    ...   81.4    1,198      493    135     58    27
3  12.4     2.8    1.0    ...   79.1    1,182      507    114     41    27
4   5.2     4.2    2.1    ...  100.0      749      156    125     63    29

   BLK    TOV     PF     +/-
0  47    133    103    +233
1  32    117    107    +106
2   6     23     52     -13
3   6     35     46     -67
4  22     24     56    +153

[5 rows x 31 columns]

In [56]:
# Find the table containing the player stats
table = soup.find("table")  # Check for the correct table identifier

# Confirm if the table is found
if table:
    print("Table found.")
else:
    print("Table not found. Check the identifier or HTML structure.")

Table found.

In [57]:
# Extract the column headers from the table
headers = [th.text for th in table.find_all("th")]

# Display the extracted headers to confirm
print("Extracted headers:", headers)

Extracted headers: [' ', 'NAME ', 'LOC ', 'SEASON ', 'TM ', 'GP ', 'MPG ', 'PPG ', 'RPG ', 'APG ', 'SPG ', 'BPG ', 'TPG ', 'FGM ', 'FGA ', 'FG% ', '3PM ', '3PA ', '3P% ', 'FTM ', 'FTA ', 'FT% ', 'MIN ', 'PTS ', 'REB ', 'AST ', 'STL ', 'BLK ', 'TOV ', 'PF ', '+/- ']

In [58]:
# Extract the rows from the table body
rows = table.find("tbody").find_all("tr")

# Collect data for each row to create a DataFrame
player_data = []
for row in rows:
    row_data = [td.text for td in row.find_all("td")]
    if row_data:  # Ensure the row is not empty
        player_data.append(row_data)

# Display the total number of rows extracted
print(f"Total rows extracted: {len(player_data)}")

Total rows extracted: 25

In [59]:
import pandas as pd  # Ensure pandas is imported

# Create a DataFrame with the extracted data
df = pd.DataFrame(player_data, columns=headers)

# Display the DataFrame's info to confirm its structure
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0            25 non-null     object
 1   NAME     25 non-null     object
 2   LOC      25 non-null     object
 3   SEASON   25 non-null     object
 4   TM       25 non-null     object
 5   GP       25 non-null     object
 6   MPG      25 non-null     object
 7   PPG      25 non-null     object
 8   RPG      25 non-null     object
 9   APG      25 non-null     object
 10  SPG      25 non-null     object
 11  BPG      25 non-null     object
 12  TPG      25 non-null     object
 13  FGM      25 non-null     object
 14  FGA      25 non-null     object
 15  FG%      25 non-null     object
 16  3PM      25 non-null     object
 17  3PA      25 non-null     object
 18  3P%      25 non-null     object
 19  FTM      25 non-null     object
 20  FTA      25 non-null     object
 21  FT%      25 non-null     object
 22  MIN      25 non-null     object
 23  PTS      25 non-null     object
 24  REB      25 non-null     object
 25  AST      25 non-null     object
 26  STL      25 non-null     object
 27  BLK      25 non-null     object
 28  TOV      25 non-null     object
 29  PF       25 non-null     object
 30  +/-      25 non-null     object
dtypes: object(31)
memory usage: 6.2+ KB
None
                         NAME     LOC     SEASON       TM    GP     MPG   \
0      Giannis Antetokounmpo    Home    2023-24     MIL     38    34.1
1      Giannis Antetokounmpo    Away    2023-24     MIL     35    36.3
2            Harrison Barnes    Home    2023-24     SAC     41    29.2
3            Harrison Barnes    Away    2023-24     SAC     41    28.8
4              Nicolas Batum    Home    2023-24      TOT    30    25.0

     PPG     RPG    APG   ...     FT%      MIN      PTS    REB    AST   STL   \
0  28.2    11.7    6.3    ...   65.0    1,295    1,071    446    239    42
1  32.9    11.3    6.8    ...   66.4    1,272    1,151    395    237    45
2  12.0     3.3    1.4    ...   81.4    1,198      493    135     58    27
3  12.4     2.8    1.0    ...   79.1    1,182      507    114     41    27
4   5.2     4.2    2.1    ...  100.0      749      156    125     63    29

   BLK    TOV     PF     +/-
0  47    133    103    +233
1  32    117    107    +106
2   6     23     52     -13
3   6     35     46     -67
4  22     24     56    +153

[5 rows x 31 columns]

In [69]:
# Identify and correct blank or invalid column names
corrected_headers = [header.strip() or 'Unnamed' for header in headers]  # Replace blank names with 'Unnamed'

# Re-create the DataFrame with corrected headers
df = pd.DataFrame(player_data, columns=corrected_headers)

# Load the DataFrame into the AWS RDS database with corrected headers
df.to_sql('player_stats', con=engine, if_exists='replace', index=False)

print("DataFrame successfully loaded into the AWS RDS database.")

DataFrame successfully loaded into the AWS RDS database.

In [70]:
from sqlalchemy import create_engine  # Import SQLAlchemy

# Database connection details
db_host = "nbaplayers.ch7mhjpbrvtl.us-east-1.rds.amazonaws.com"  # AWS RDS host
db_username = "admin"  # Admin username
db_password = "Golf23!!!"  # Database password
db_schema = "sql_project"  # Schema (database) name
db_port = 3306  # Default MySQL port

# Create a SQLAlchemy engine for the MySQL database
db_url = f"mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/{db_schema}"
engine = create_engine(db_url)

# Load the DataFrame into a specific table (replace 'player_stats' with your table name)
df.to_sql('player_stats', con=engine, if_exists='replace', index=False)

print("DataFrame successfully loaded into the AWS RDS database.")

DataFrame successfully loaded into the AWS RDS database.

In [71]:
# Export the DataFrame to a CSV file
csv_filename = "nba_player_home_away_stats.csv"  # Name your CSV file
df.to_csv(csv_filename, index=False)

print(f"Data exported to {csv_filename}")

Data exported to nba_player_home_away_stats.csv

In [72]:
!pip install pymysql
!pip install sqlalchemy

Requirement already satisfied: pymysql in /usr/local/lib/python3.10/dist-packages (1.1.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)